[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
openai-agents = "*"
playwright = "*"
selenium = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
